body {
  background-color: transparent;
}
.err-txt {
  color: var(--vscode-errorForeground);
  visibility: hidden;
}
/*
  unfortunately margin auto doesnt work 
  for block elements in some cases, so 
  had to use a number :( 
  which may not work for every screen 
  to center vertically of course
  */
lottie-player {
  display: none;
  margin: 75% auto;
}

.copy {
  width: 32px;
  height: 32px;
  cursor: pointer;
  float: right;
}

.ncounter {
  float: left;
}

#code-list {
  list-style: none;
  padding: 0;
}

pre > code {
  width: 100%;
  display: flex;
  border: 1px solid var(--vscode-input-border);
}
